---
layout: default
---
<main class="content">
  <header class="hero">
    <img src="/assets/images/hero_bg.png">
    <div class="hero__inner">
      <div class="hero__stats">
        <div class="hero__stats__item">
          <div class="hero__stats__number">1</div>
          <div class="hero__stats__text">Single Track</div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">2</div>
          <div class="hero__stats__text">
            Keynote
            <span class="display--block">Speakers</span>
          </div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">~12</div>
          <div class="hero__stats__text">Talks</div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">2-4</div>
          <div class="hero__stats__text">Workshops</div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">1</div>
          <div class="hero__stats__text">Vienna.rb Meetup</div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">1-2</div>
          <div class="hero__stats__text">Social Activities</div>
        </div>
      </div>
    </div>
  </header>
  {% include about_section.html %}
  {% include location_section.html %}
  {% include speakers_section.html %}
  {% include partners_section.html %}
</main>
