---
layout: default
---
<main class="content">
  <header class="hero">
    <img src="/assets/images/hero_bg.png" alt="RubyConf Austria Hero Background">
    <div class="hero__inner">
      <div class="hero__stats">
        <div class="hero__stats__item">
          <div class="hero__stats__number">1</div>
          <div class="hero__stats__text">Single Track</div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">2</div>
          <div class="hero__stats__text">
            Keynote
            <span class="display--block">Speakers</span>
          </div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">~12</div>
          <div class="hero__stats__text">Talks</div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">2-4</div>
          <div class="hero__stats__text">Workshops</div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">1</div>
          <div class="hero__stats__text">Vienna.rb Meetup</div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">1-2</div>
          <div class="hero__stats__text">Social Activities</div>
        </div>
      </div>
    </div>
  </header>
  {% include about_section.html %}
  <hr class="section__divider" />
  {% include location_section.html %}
  <section class="section section--title-bar" id="spotlight-title" aria-label="Spotlight">
    <div class="section__content">
      <h2 class="section__title-bar__text">SPEAKERS & PERFORMERS</h2>
    </div>
  </section>
  <hr class="section__divider" />
  {% include speakers_section.html %}
  <hr class="section__divider" />
  <section class="section section--title-bar section--title-bar--red" id="sponsorships-title" aria-label="Sponsorships">
    <div class="section__content">
      <h2 class="section__title-bar__text section__title-bar__text--black">SPONSORSHIPS</h2>
    </div>
  </section>
  <hr class="section__divider" />
  {% include sponsorships_section.html %}
  <hr class="section__divider" />
  <section class="section section--title-bar" id="sponsors-title" aria-label="Sponsors">
    <div class="section__content">
      <h2 class="section__title-bar__text">SPONSORS</h2>
    </div>
  </section>
  <hr class="section__divider" />
  {% include sponsors_section.html %}
  <hr class="section__divider" />
  <section class="section section--title-bar" id="community-partners-title" aria-label="Community Partners">
    <div class="section__content">
      <h2 class="section__title-bar__text">COMMUNITY PARTNERS</h2>
    </div>
  </section>
  <hr class="section__divider" />
  {% include partners_section.html %}
</main>
