<section class="section section--about">
  <div class="section__content">
    <article class="section__article is-centered mb--2">
      <div class="col--1-2 col--sm-100">
        <h3 class="section__article__title is-centered has-dot">Why RubyConf AT?</h3>
        <p class="section__article__text text--align-center mb--2">
          With RubyConf AT we aim to gather a Ruby audience passionate about the Ruby programming language, within an atmosphere that reminds of classical Austria, merging musical performances with the program of the conference (sometimes by speakers as well).
        </p>
        <p class="section__article__text text--align-center mb--2">
          RubyConf AT is a long-term community project aimed to support and grow the Ruby community in Austria. Really, what it is, is mostly an excuse to bring together a community of Rubyists to spend some quality time together.
        </p>
        <p class="section__article__text text--align-center mb--2">
Key values around which we build this conference are: long lasting impact, free flow of artistry and creativity, passion (towards Ruby) and, most importantly, human connection.
        </p>
        <div class="text--align-center">
          <a href="https://www.papercall.io/rubyconfaustria2026" target="_blank" class="button button--primary">
            Submit a talk
          </a>
        </div>
      </div>
    </article>
  </div>
</section>
