<section class="section section--partners" id="partners" aria-label="Community Partners">
  <div class="section__content">
    <div class="partners-stickers">
      {% for partner in site.data.partners %}
      <div class="partner-sticker partner-sticker--{{ forloop.index }}">
        <a href="{{ partner.link }}" target="_blank" class="partner-sticker__link" aria-label="Visit {{ partner.name }}">
          <img src="{{ partner.image }}" alt="{{ partner.name }}" class="partner-sticker__image" loading="lazy" />
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
