<section class="section section--sponsors" id="sponsors" aria-label="Conference Sponsors">
  <div class="section__content">
    {% assign grouped_sponsors = site.data.sponsors | group_by: "label" %}
    {% for group in grouped_sponsors %}
    <div class="sponsors-group">
      <div class="sponsors-group__label-wrapper">
        <div class="sponsors-group__label card__label card-label--{{ group.name | downcase }}">{{ group.name }}</div>
      </div>
      <div class="sponsors-stickers">
        {% for sponsor in group.items %}
        <div class="sponsor-sticker sponsor-sticker--{{ forloop.index }}">
          <a href="{{ sponsor.link }}" target="_blank" class="sponsor-sticker__link" aria-label="Visit {{ sponsor.name }}">
            <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" class="sponsor-sticker__image" loading="lazy" />
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
