<section class="section section--sponsorships" id="sponsorships" aria-label="Sponsorships">
  <div class="section__content">
    <div class="sponsorships__content">
      <div class="sponsorships__text">
        <h2 class="sponsorships__title">
          <span class="sponsorships__title__line">SPONSOR</span>
          <span class="sponsorships__title__line sponsorships__title__line--conf">OUR CONF.</span>
        </h2>
        <div class="sponsorships__button">
          <a href="/sponsoring" class="button button--secondary">Become a Sponsor</a>
        </div>
      </div>
    </div>
  </div>
</section>

