/* Page layout styles */
.page {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Bricolage Grotesque', sans-serif;
}
