<div class="schedule">
  <div class="schedule__body">
    <div class="schedule__row">
      <div class="schedule__time"></div>
      <div class="schedule__break">
        <p class="schedule__break__text">Venue: Haus Der Musik. Limited capacity: 130 people.</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">17:00 - 18:00</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Museum tour & registration</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">18:00 - 18:10</div>
      <div class="schedule__item">
        <a href="https://www.hansschnedlitz.com/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/hans.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Welcome & Opening</h5>
          <p class="schedule__item__speaker">Hans Schedlitz</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">18:10 - 18:30</div>
      <div class="schedule__item">
        <a hhref="https://www.hdm.at/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/Nadir\ -\ web.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Piano</h5>
          <p class="schedule__item__speaker">Nadir Hošić</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">18:30 - 19:00</div>
      <div class="schedule__item">
        <a href="https://www.hdm.at/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/hdm_stage.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Talk</h5>
          <p class="schedule__item__speaker">Speaker</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">19:00 - 19:30</div>
      <div class="schedule__item">
        <a href="https://www.hdm.at/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/hdm_stage.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Talk</h5>
          <p class="schedule__item__speaker">Speaker</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">19:30 - ?</div>
      <div class="schedule__item">
        <a href="https://www.hdm.at/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/hdm_stage.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Chad Fowler, José Valim, Obie Fernandez, Armin Ronacher</h5>
          <p class="schedule__item__speaker">Panel Discussion</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">? - ?</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Hangout & Networking</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">? - ?</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Want to host an after party? Reach out.</p>
      </div>
    </div>
  </div>
</div>
