<div class="schedule">
  <div class="schedule__body">
    <div class="schedule__row">
      <div class="schedule__time"></div>
      <div class="schedule__break">
        <p class="schedule__break__text">Venue: Das MuTh. Limited capacity: 400 people.</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">08:00 - 09:30</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Registration</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">09:30 - 09:40</div>
      <div class="schedule__item">
        <a href="https://x.com/zuzanna_kusznir" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/Zuzanna\ -\ web.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Good Morning and Agenda</h5>
          <p class="schedule__item__speaker">Zuzanna Kusznir</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">09:40 - 10:10</div>
      <div class="schedule__item">
        <a href="https://wsk.at/juventus" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/choir.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Concert</h5>
          <p class="schedule__item__speaker">Chorus Juventus - Wiener Sängerknaben</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">10:10 - 11:00</div>
      <div class="schedule__item">
        <a href="https://chadfowler.com" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/chad_fowler.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Opening Keynote</h5>
          <p class="schedule__item__speaker">Chad Fowler</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">11:00 - 11:30</div>
      <div class="schedule__item">
        <a href="https://x.com/KinseyAnnDurham" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/kinsey.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Composing Agentic Systems in Ruby: Turning AI Chaos into Harmony</h5>
          <p class="schedule__item__speaker">Kinsey Durham Grace</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">11:30 - 12:00</div>
      <div class="schedule__item">
        <a href="https://x.com/palkan_tula" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/vladimir.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Pattern matching on the loose</h5>
          <p class="schedule__item__speaker">Vladimir Dementeyev</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">12:00 - 13:00</div>
      <div class="schedule__break">
        <p class="schedule__break__text"> Break (Lunch/Coffee)</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">13:00 - 13:30</div>
      <div class="schedule__item">
        <a href="https://x.com/AndyObtiva" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/andy.jpeg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Frontend Ruby on Rails with Glimmer DSL for Web</h5>
          <p class="schedule__item__speaker">Andy Maleh</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="https://www.linkedin.com/in/synapticmishap/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/john.jpeg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop: Understand Your Rails App, Practical Observability for Engineers</h5>
          <p class="schedule__item__speaker">John Gallagher</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">13:30 - 14:00</div>
      <div class="schedule__item">
        <a href="https://tcb.si/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/ljubomir.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">The Humble Event Bus: Building Safe Concurrency in Ruby</h5>
          <p class="schedule__item__speaker">Ljubomir Marković</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="https://www.linkedin.com/in/synapticmishap/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/john.jpeg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop: Understand Your Rails App, Practical Observability for Engineers</h5>
          <p class="schedule__item__speaker">John Gallagher</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">14:00 - 14:30</div>
      <div class="schedule__item">
        <a href="https://wowinter13.com/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/vlad.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">jemalloc is dead, long live mimalloc!</h5>
          <p class="schedule__item__speaker">Vlad Dyachenko</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="https://www.linkedin.com/in/synapticmishap/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/john.jpeg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop: Understand Your Rails App, Practical Observability for Engineers</h5>
          <p class="schedule__item__speaker">John Gallagher</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">14:30 - 14:40</div>
      <div class="schedule__break">
        <p class="schedule__break__text"> Coffee Break</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">14:40 - 15:00</div>
      <div class="schedule__item">
        <a href="https://muth.at/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/Iman\ -\ web.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Piano</h5>
          <p class="schedule__item__speaker">Iman Jahić Hošić</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">15:00 - 15:30</div>
      <div class="schedule__item">
        <a href="https://arkency.com/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/andrzej.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">15 years of Rails with Domain Driven Design - lessons learnt </h5>
          <p class="schedule__item__speaker">Andrzej Krzywda</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="https://x.com/headius" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/charles.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop: Do More With JRuby</h5>
          <p class="schedule__item__speaker">Charles Oliver Nutter</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">15:30 - 16:00</div>
      <div class="schedule__item">
        <a href="https://www.linkedin.com/in/banta" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/bernard.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Sanarei: Offline Web Browsing with Ruby </h5>
          <p class="schedule__item__speaker">Bernard Banta</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="https://x.com/headius" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/charles.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop: Do More With JRuby</h5>
          <p class="schedule__item__speaker">Charles Oliver Nutter</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">16:00 - 16:30</div>
      <div class="schedule__item">
        <a href="https://www.dalmaboros.com/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/placeholder.webp) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Why You Should Go Surfing with Strangers: Creating Connection in the Ruby Community </h5>
          <p class="schedule__item__speaker">Dalma & Jess</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="https://x.com/headius" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/charles.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop: Do More With JRuby</h5>
          <p class="schedule__item__speaker">Charles Oliver Nutter</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">16:30 - 17:00</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Coffee Break</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">17:00 - 18:00</div>
      <div class="schedule__item">
        <a href="https://pragdave.me" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/Dave\ -\ web.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Closing Keynote</h5>
          <p class="schedule__item__speaker">Dave Thomas</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">18:00 - 18:15</div>
      <div class="schedule__item">
        <a href="https://muhamed.at/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/muhamed.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Closing Ceremony</h5>
          <p class="schedule__item__speaker">Muhamed Isabegovic</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">18:15 - ?</div>
      <div class="schedule__item">
        <a href="https://juliasiedl.com" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/Julia\ -\ web.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Jazz Performance</h5>
          <p class="schedule__item__speaker">Julia Siedl & Chad Fowler</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">? - 21:00</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Hangout & Networking</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">? - ?</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Want to host an after party? Reach out.</p>
      </div>
    </div>
  </div>
</div>
