<div class="schedule">
  <div class="schedule__body">
    <div class="schedule__row">
      <div class="schedule__time"></div>
      <div class="schedule__break">
        <p class="schedule__break__text">Venue: Haus Der Musik. Limited capacity: 130 people.</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">17:00 - 18:00</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Museum tour & registration</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">18:00 - 18:10</div>
      <div class="schedule__item">
        <a href="https://www.hansschnedlitz.com/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/hans.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Welcome & Opening</h5>
          <p class="schedule__item__speaker">Hans Schedlitz</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">18:10 - 18:40</div>
      <div class="schedule__item">
        <a href="https://marcoroth.dev/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/marco.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Herb & ReActionView: Mid-2026 Progress Update</h5>
          <p class="schedule__item__speaker">Marco Roth</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">18:50 - 19:20</div>
      <div class="schedule__item">
        <a href="https://maedi.com/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/maedi.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Introducing Raindeer</h5>
          <p class="schedule__item__speaker">Maedi Prichard</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">19:30 - 20:00</div>
      <div class="schedule__item">
        <a href="https://x.com/bbatsov" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/bbatsov.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">RuboCop 2.0: Where do we go now?</h5>
          <p class="schedule__item__speaker">Bozhidar Batsov</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">20:10 - 20:30</div>
      <div class="schedule__item">
        <a hhref="https://www.hdm.at/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/speakers/Nadir\ -\ web.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Piano</h5>
          <p class="schedule__item__speaker">Nadir Hošić</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">20:30 - ?</div>
      <div class="schedule__item">
        <a href="https://www.hdm.at/" target="_blank" class="schedule__item__image" style="background: url(/assets/images/hdm_stage.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Chad Fowler, José Valim, Obie Fernandez, Armin Ronacher</h5>
          <p class="schedule__item__speaker">Panel Discussion</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">? - ?</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Hangout & Networking</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">? - ?</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Want to host an after party? Reach out.</p>
      </div>
    </div>
  </div>
</div>
