<div class="schedule">
  <div class="schedule__body">   
    <div class="schedule__row">
      <div class="schedule__time">10:00 - 17:00</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Kahlenberg Hike (Coffee & View)</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">00:00 - 00:00</div>
      <div class="schedule__item">
        <a href="/treasure_hunt" class="schedule__item__image" style="background: url(/assets/images/hunt.webp) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Treasure Hunt</h5>
          <p class="schedule__item__speaker">Details TBD</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">00:00 - 00:00</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Want to host a social activity? Reach out.</p>
      </div>
    </div>
  </div>
</div>
